<div class="wrapper wrapper-edit">
  <div class="sign-up">
    <blockquote>
      <p>
        "A journey of a thousand miles begins with a single step."
      </p>
      <p class="author">- Confucius</p>
    </blockquote>
  </div>

  <div class="form-wrapper">
    <h1 class="form-title">Sign up</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <div class="form-group">
        <%= f.input :first_name, input_html: { class: 'w-100', autofocus: true }, wrapper_html: { class: 'd-flex flex-column align-items-center' } %>
        <span class="check-icon"></span>
      </div>

       <div class="form-group">
        <%= f.input :last_name, input_html: { class: 'w-100', autofocus: true }, wrapper_html: { class: 'd-flex flex-column align-items-center' } %>
        <span class="check-icon"></span>
      </div>

      <div class="form-group">
        <%= f.input :nickname, input_html: { class: 'w-100', autofocus: true }, wrapper_html: { class: 'd-flex flex-column align-items-center' } %>
        <span class="check-icon"></span>
      </div>

      <div class="form-group">
        <%= f.input :email, input_html: { class: 'w-100'}, wrapper_html: { class: 'd-flex flex-column align-items-center' } %>
        <span class="check-icon"></span>
      </div>

      <div class="form-group mb-1">
        <%= f.input :password, input_html: { class: 'w-100', title: 'Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters', type: 'password' }, wrapper_html: { class: 'd-flex flex-column align-items-center' } %>
        <span class="check-icon"></span>
      </div>

      <div class="form-group mb-0">
        <%= f.button :submit, 'Create account', class: 'w-100', id: 'submit' %>
      </div>
    <% end %>

    <small>Have an account? <%= link_to 'Click here', new_user_session_path %></small>
  </div>
</div>
