<div class="filters">
  <div class="filter-section text-center">
    <h4 class="mb-4">Category</h4>
    <ul class="category-list">
      <% Event::CATEGORY.each do |category| %>
        <li class="category-item"><%= link_to category, filter_events_path(@permited_params.merge(category: toggle_category_query_values(category))), class: (@permited_params[:category].present? && @permited_params[:category].include?(category) ? "toggle-link-active text-danger" : "toggle-link-inactive") %></li>
      <% end %>
    </ul>
    <hr>
  </div>

  <div class="filter-section text-center">
    <h4 class="mb-4">Period</h4>
    <ul class="period-list">
      <% Event::PERIOD.each do |period| %>
        <li class="period-item"><%= link_to period, filter_events_path(@permited_params.merge(period: toggle_period_query_values(period))), class: (@permited_params[:period].present? && @permited_params[:period].include?(period) ? "toggle-link-active" : "toggle-link-inactive") %></li>
      <% end %>
      <% @permited_params %>
    </ul>
    <hr>
  </div>

  <%= form_with(url: filter_events_path, method: :get, local: false) do |form| %>
    <div class="form-date">
      <%# <%= form.number_field :distance, placeholder: 'Range' %>
      <div class="calendar"><%= form.text_field :event_date, data: { controller: "datepicker"} %></div>
        <% form.hidden_field :category, value: params[:category] if params[:category].present? %>
        <% form.hidden_field :period, value: params[:period] if params[:period].present? %>
      <%= form.text_field :location, placeholder: 'Choose a location' , class: "w-100"%>
      <%= form.submit "Search", onclick: 'removeEmptyDistance();', class: "friend-btn w-100" %>
    </div>
  <% end %>
</div>
