<body class="chat">
  <div class="row h-75">
  <%# chat-list %>
    <div class="col-2">
        <div class="conversation-list">
          <ul class="ul-chat">
            <li class="item active"><a href="#"><i class="fa fa-list-alt"></i><span>Friends chat</span></a></li>
              <li><a href="#"><i class="fas fa-crown" style="color: yellow;"></i></i><span><%= @event.user.nickname %></span></a></li>
            <% @participant.each do |p|%>
              <li><a href="#"><i class="fa fa-circle-o online"></i><i class="fa fa-user"></i><span><%= p.user.nickname %></span></a></li>
            <% end %>
          </ul>
          <div class="my-account">
            <div class="image">
              <img src="https://secure.gravatar.com/avatar/de76e03aa6b5b0bf675c1e8a990da52f?s=64">
              <i class="fa fa-circle online"></i>
            </div>
            <div class="name">
              <span><%= current_user.first_name.capitalize %></span>
              <i class="fa fa-angle-down"></i>
              <span class="availability">Available</span>
            </div>

          </div>
        </div>
    </div>

  <%# chat área %>
    <div class="col-7">
      <div class="chat-area" data-controller="event-subscription" data-event-subscription-event-id-value="<%= @event.id %>">
        <div class="title text-center"><b><%= @event.name %></b></div>
        <div>
          <div class="chat-list">
            <div class="messages">
              <ul class="ul-chat" data-event-subscription-target="messages">
                <% @event.messages.each do |message| %>
                  <%= render "messages/message", message: message %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="input-area">
            <div class="input-wrapper">
              <%= simple_form_for [@event, @message],
                html: { data: { action: "turbo:submit-end->event-subscription#resetForm" }, class: "d-flex" } do |f| %>
                <%= f.input :content,
                  label: false,
                  placeholder: "Type a message",
                  wrapper_html: { class: "flex-grow-1" } %>
                <i class="fa fa-smile-o"></i>
                <i class="fa fa-paperclip"></i>
                <%= f.button :submit, "Send", class: "send-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <%# barra lateral direita %>
    <div class="col-3">
      <div class="right-tabs">
        <div class="container event-row">
          <h5 class="justified-text"><%= @event.name %></h5>
          <h6><%= @event.event_date&.strftime("%B %d - %Y") %></h6>
          <p><%= @event.period %></p>
          <p><%= @event.location %></p>
          <p><%= cl_image_tag @event.photo.key, width: 120, crop: :fill, gravity: :center %></p>
          <%= link_to 'Leave this event', events_path  %>
        </div>

        <div style="width: 100%; height: 200px;"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>

</body>
