<div class="row h-100">
  <%# chat-list %>
    <div class="col-2 p-0">
        <div class="conversation-list">
          <ul class="ul-chat">
            <li class="item active"><a href="#"><i class="fa fa-list-alt"></i><span>Friends chat</span></a></li>
            <% @participant.each do |p|%>
              <li>
                <a href="#">
                  <% if p.user == p.event.user %>
                    <i class="fas fa-crown" style="color: yellow;"></i>
                  <% else %>
                    <i class="fa fa-user"></i>
                  <% end %>
                  <span><%= p.user.nickname %></span>
                </a>
              </li>
            <% end %>
          </ul>
          <div class="my-account">
            <div class="image">

              <% if current_user.photo.key.present? %>
                <% cl_image_tag current_user.photo.key , class: "avatar", alt: "dropdown menu" %>
              <% else %>
                <%= image_tag "default-user-pic.jpg" , class: "avatar", alt: "dropdown menu" %>
              <% end %>

              <i class="fa fa-circle online"></i>
            </div>
            <div class="name">
              <span><%= current_user.first_name.capitalize %></span>
              <i class="fa fa-angle-down"></i>
              <span class="availability">Available</span>
            </div>

          </div>
        </div>
    </div>

  <%# chat área %>
    <div class="col-7 p-0">
      <div class="chat-area" data-controller="event-subscription" data-event-subscription-event-id-value="<%= @event.id %>">
        <div class="title text-center"><b><%= @event.name %></b></div>
        <div>
          <div class="chat-list">
            <div class="messages" data-event-subscription-target="container">
              <ul class="ul-chat" data-event-subscription-target="messages">
                <% @event.messages.each do |message| %>
                  <%= render "messages/message", message: message %>
                <% end %>
              </ul>
            </div>
          </div>
          <div class="input-area">
            <div class="input-wrapper d-flex w-100 align-items-center">
              <%= simple_form_for [@event, @message],
                html: { data: { action: "turbo:submit-end->event-subscription#resetForm" }, class: "d-flex w-100" } do |f| %>
                <%= f.input :content,
                  label: false,
                  placeholder: "Type a message",
                  wrapper_html: { class: "input-message" } %>
                <%= f.button :submit, "Send", class: "send-btn ml-auto" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  <%# barra lateral direita %>
    <div class="col-3 p-0">
      <div class="right-tabs">
        <div class="h-100 event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path(@event.photo.key)%>);">
          <div class="container event-row">
            <div class="chat-details">
              <h5><%= @event.name %></h5>
              <h6><i class="fa fa-map-marker"></i> <%= @event.location %></h6>
              <h6><i class="fa-solid fa-calendar"></i> <%= @event.event_date&.strftime("%B %d - %Y") %></h6>
              <p><i class="fa-solid fa-clock"></i> <%= @event.period %></p>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 450px; margin-top: 30px"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <%= link_to "Get Directions", "https://www.google.com/maps/dir/?api=1&destination=#{@event.latitude},#{@event.longitude}", target: "_blank", class: "btn btn-secondary chat-button" %>
      </div>
    </div>
</div>
