<% @permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>


<div class="row">
  <div class="col-3 bg-light">
    <div class="container">

      <%= render "shared/filter" %>
    </div>
  </div>

<div id="card">
  <% @events.each do |event| %>
    <div class="card">
      <div class="card-image">
        <% if event.photo.attached? %>
          <% cl_image_tag(event.photo.key, crop: :fill) %>
        <% else %>
          <img src="https://www.shutterstock.com/image-vector/picture-icon-260nw-413647060.jpg" />
        <% end %>
      </div>
      <div class="card-title">
        <h2><%= event.name %></h2>
      </div>
      <div class="card-detail">
        <h3>in | <span class="date"><%= event.event_date %></span></h3>
      </div>
      <div class="card-text">
        <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis illum maxime quod deserunt eligendi dolor</p>
      </div>
      <div class="card-product-price">
        <% if event.user == current_user %>
          <%= link_to 'Buy Now', event_chat_path(event), class: 'custom-btn friend-btn' %>
        <% else %>
          <%= link_to 'Buy Now', event_path(event), class: 'custom-btn friend-btn' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
