<% @permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>


<div class="row">
  <div class="col-3 bg-light">
    <div class="container">

      <%= render "shared/filter" %>
    </div>
  </div>

  <div class="col-9">
    <ul>
      EVENTOS SELECIONADOS
      <% @events.each do |event| %>
        <li><%= event.event_date %> - <%= event.name %> - <%= event.period %> - <%= event.category %></li>
      <% end %>
    </ul>
  </div>
</div>
