VIEW DE TESTE - filter
<% permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>
<hr>


<hr>

periodo
<ul>
  <% Event::PERIOD.each do |period| %>
    <li><%= link_to period, filter_events_path(permited_params.merge(period: period)) %></li>
  <% end %>
</ul>
<hr>


catagoria
<ul>
  <% Event::CATEGORY.each do |category| %>
    <li><%= link_to category, filter_events_path(permited_params.merge(category: category)) %></li>
  <% end %>
</ul>
<hr>


calendário e local

<%= form_with(url: filter_events_path, method: :get, local: false) do |form| %>
  <%= form.text_field :location, placeholder: 'Choose a location' %>
  <%= form.number_field :distance, placeholder: 'Range' %>
  <%= form.text_field :event_date, data: { controller: "datepicker"} %>
    <%= form.hidden_field :category, value: params[:category] if params[:category].present? %>
    <%= form.hidden_field :period, value: params[:period] if params[:period].present? %>
  <%= form.submit "Pin a location", onclick: 'removeEmptyDistance();' %>
<% end %>

<hr>

EVENTOS SELECIONADOS
<ul>
  <% @events.each do |event| %>
    <li><%= event.event_date %> - <%= event.name %> - <%= event.period %> - <%= event.category %></li>
  <% end %>
</ul>
