<% @permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>


<div class="row">
  <div class="col-3 bg-light filter-fixed">
    <div class="container" data-action="scroll@window->navbar#fixFilter">

      <%= render "shared/filter" %>
    </div>
  </div>

  <div class="col-9 fixed-cards">
    <ul>
      <div class="container">
        <div class="pack-grid">
          <% @events.each do |event| %>
          <div class="event-card">
            <% if event.photo.attached? %>
              <%= cl_image_tag event.photo.key, height: 300, crop: :fill %>
            <% else %>
              <img src="https://www.shutterstock.com/image-vector/picture-icon-260nw-413647060.jpg"/>
            <% end %>
            <div class="card-info text-center">
              <h4><%= event.name %></h4>
              <p><%= event.event_date %></p>
              <% if event.user == current_user %>
                <h4><%= link_to 'Details', event_chat_path(event), class: 'custom-btn friend-btn' %></h4>
              <% else %>
                <h4><%= link_to 'Details', event_path(event), class: 'custom-btn friend-btn' %></h4>
              <% end %>
          </div>
        </div>
          <% end %>
      </div>
    </div>
    </ul>
  </div>
</div>
