<% @permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>


<div class="row">
  <div class="col-3 bg-light">
    <div class="container">
      <% def toggle_period_query_values(new_value) %>
        <% query_values = (@permited_params[:period] || "").split('&') %>
        <% query_values.include?(new_value) ? query_values.delete(new_value) : query_values.push(new_value) %>
        <% query = query_values.join('&') %>
      <% end %>
      <% def toggle_category_query_values(new_value) %>
        <% query_values = (@permited_params[:category] || "").split('&') %>
        <% query_values.include?(new_value) ? query_values.delete(new_value) : query_values.push(new_value) %>
        <% query = query_values.join('&') %>
      <% end %>

      <%= render "shared/filter" %>
    </div>
  </div>

  <div class="col-9">
    <ul>
      EVENTOS SELECIONADOS
      <% @events.each do |event| %>
        <li><%= event.event_date %> - <%= event.name %> - <%= event.period %> - <%= event.category %></li>
      <% end %>
    </ul>
  </div>
</div>
