<% @permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>
<div class="d-flex background-filter">

  <%= render "shared/filter" %>
  <div class="container-filter">
  <h1 class= "text-center">Find more events</h1>

  <div class="cards-grid-filter">
    <% @events.each do |event| %>
      <a href="<%= event.user == current_user ? event_chat_path(event) : event_path(event) %>" class="card-index">
        <div class="head-card shimmer">
          <span class="rate"><%= event.participants.count %> <%= event.participants.count > 1 ? "participants" : "participant" %></span>
        </div>
        <div class="img-mask">
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key %>
          <% else %>
            <img src="https://www.shutterstock.com/image-vector/picture-icon-260nw-413647060.jpg"/>
          <% end %>
        </div>
        <div class="card-content-filter">

            <h3 class="text-center"><%= event.name %></h3>

            <div class="card-date-time">
              <p class=""><i class="fa-solid fa-calendar m-2"></i> <%= event.event_date&.strftime("%B %d - %Y") %>
              <i class="fa-solid fa-clock m-2"></i> <%= event.period %></p>
            </div>

        </div>
      </a>
    <% end %>
  </div>
  </div>

</div>
