VIEW DE TESTE - filter
<% @permited_params = params.permit(:category, :event_date, :period, :name, :location, :distance) %>
<hr>


<hr>

###
<% def toggle_period_query_values(new_value) %>
  <% query_values = @permited_params[:period].split('&') %>
  <% query_values.include?(new_value) ? query_values.delete(new_value) : query_values.push(new_value) %>
  <% query = query_values.join('&') %>
  <% puts query %>
  <% return query %>
<% end %>

<% def toggle_category_query_values(new_value) %>
  <% query_values = @permited_params[:category].split('&') %>
  <% query_values.include?(new_value) ? query_values.delete(new_value) : query_values.push(new_value) %>
  <% query = query_values.join('&') %>
  <% puts query %>
  <% return query %>
<% end %>

periodo
<ul>
  <% Event::PERIOD.each do |period| %>
    <li><%= link_to period, filter_events_path(@permited_params.merge(period: toggle_period_query_values(period))), class: @permited_params[:period].include?(period) ? "toggle-link-active text-danger" : "toggle-link-inactive" %></li>
  <% end %>
  <%= @permited_params %>
</ul>
<hr>

###

categoria
<ul>
  <% Event::CATEGORY.each do |category| %>
    <li><%= link_to category, filter_events_path(@permited_params.merge(category: toggle_category_query_values(category))), class: @permited_params[:category].include?(category) ? "text-danger" : "text-primary" %></li>
  <% end %>
</ul>
<hr>


calendário e local

<%= form_with(url: filter_events_path, method: :get, local: false) do |form| %>
  <%= form.text_field :location, placeholder: 'Choose a location' %>
  <%= form.number_field :distance, placeholder: 'Range' %>
  <%= form.text_field :event_date, data: { controller: "datepicker"} %>
    <%= form.hidden_field :category, value: params[:category] if params[:category].present? %>
    <%= form.hidden_field :period, value: params[:period] if params[:period].present? %>
  <%= form.submit "Pin a location", onclick: 'removeEmptyDistance();' %>
<% end %>

<hr>

EVENTOS SELECIONADOS
<ul>
  <% @events.each do |event| %>
    <li><%= event.event_date %> - <%= event.name %> - <%= event.period %> - <%= event.category %></li>
  <% end %>
</ul>
