<div>
  <div class="banner" data-navbar-target="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1496208612508-eb52fba7d94e?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="container box-banner">
      <%= image_tag 'logo-white.png', class: "logo-home" %>
      <h3>Find your people!!!</h3>
      <hr>
      <%= form_with url: filter_events_path, method: :get, class: "d-flex flex-column" do %>
      <%= text_field_tag :name,
            params[:name],
            class: "form-control",
            style: "width: 300px",
            placeholder: "Type a keyword"
      %>
      <%= submit_tag "Search", name: "", class:"btn btn-outline-light w-100 mt-3" %>
    <% end %>
    </div>
  </div>
</div>

<div class="cards-container">
  <div class="cards-city">
    <div class="card-2" style="background-image: url(https://dynamic-media-cdn.tripadvisor.com/media/photo-o/16/fe/64/8d/masp-en-la-avenida-paulista.jpg?w=1200&h=1200&s=1);">
      <div class="card-content2">
        <h4 class="card-title">São Paulo</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://toptransferbrasil.com.br/wp-content/uploads/2019/10/cristo-redentor-3.jpg);">
      <div class="card-content2">
        <h4 class="card-title">Rio de Janeiro</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://cdn.panrotas.com.br/portal-panrotas-statics/media-files-cache/303528/83cbacbd1c82d803f372ae5bc6ffca7flucabravotack3nspye0unsplash/0,94,2560,1528/1206,720,0.20/0/default.jpg);">
      <div class="card-content2">
        <h4 class="card-title">New York</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">Tokyo</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">London</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">Los Angeles</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">Chicago</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">San Francisco</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">Miami</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

    <div class="card-2" style="background-image: url(https://www.gotokyo.org/es/plan/tokyo-outline/images/main.jpg);">
      <div class="card-content2">
        <h4 class="card-title">Las vegas</h4>
        <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid explicabo quisquam totam minima non maxime ipsum laboriosam magnam tenetur consectetur modi possimus, suscipit nisi quis, impedit neque fugit. Harum, error?</p>
      </div>
    </div>

  </div>
</div>

<div class="inner-banner">
  <div class="">
    <h3>Join 34,892 other users and discover what the plan is for today</h3>
  </div>
</div>

<div class="flex-row container pack-grid">
  <% @events.each do |event| %>
    <div class="card-index event-card">
      <div class="head-card shimmer">
        <!-- You can modify this part based on your requirements -->
        <span class="rate">4.5/5</span>
      </div>
      <div class="img-mask">
        <% if event.photo.attached? %>
          <%= cl_image_tag event.photo.key, alt: event.name %>
        <% else %>
          <img src="https://www.shutterstock.com/image-vector/picture-icon-260nw-413647060.jpg" alt="">
        <% end %>
      </div>
      <div class="card-content-index">
        <div class="card-header">
          <h2 class="title-index"><%= event.name %></h2>
        </div>
        <p class="description-index"><%= event.event_date %></p>
        <% if event.user == current_user %>
          <h4 class="description-index"><%= link_to 'Details', event_chat_path(event), class: 'custom-btn friend-btn' %></h4>
        <% else %>
          <h4 class="description-index"><%= link_to 'Details', event_path(event), class: 'custom-btn friend-btn' %></h4>
        <% end %>
      </div>
    </div>
  <% end %>
</div>



------------------------------------------------------------------------------------------------------------------

<div class="flex-row">
  <div class="card-index">
    <div class="head-card shimmer">
      <span class="rate">3/5</span>
    </div>
    <div class="img-mask">
      <img src="https://www.visitdubai.com/-/media/gathercontent/poi/k/kite-beach/fallback-image/kite-beach-by-meraas-poi-shutterstock-v4.jpg" alt="">
    </div>
    <div class="card-content-index">
      <div class="card-header">
        <h2 class="title-index">Lorem ipsumsssssssssssss</h2>
      </div>
      <p class="description-index">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A eos cupiditate in eum vero porro rerum nihil, architecto exercitationem, aspernatur expedita similique.</p>
    </div>
  </div>
</div>
