<div class="wrapper wrapper-edit">
  <div class="flex-container">
    <div class="show-product">
      <% if @event.photo.attached?  %>
        <%= cl_image_tag @event.photo.key, crop: :fill %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1475721027785-f74eccf877e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGV2ZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"/>
      <% end %>
    </div>
    <div class="event-details">
      <div class="event-info-show">
        <p class="show-text-center date-show"><%= @event.event_date %></p>
        <h1 class="show-text-center title-show"><%= @event.name %></h1>
        <div class="location-container">
          <p><i class="fa fa-map-marker"></i></p>
          <p class="show-text-center"><%= @event.location %></p>
        </div>
      </div>

      <div class="map-show"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

      <%= simple_form_for [@event, @participant] do |f| %>
        <%= f.submit 'Join this event', class: "btn friend-btn btn-light btn-block" %>
      <% end %>
    </div>
  </div>
</div>
