<div class="wrapper wrapper-edit">
  <div class="flex-container">
    <div class="show-product">
      <% if @event.photo.attached?  %>
        <%= cl_image_tag @event.photo.key, crop: :fill %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1475721027785-f74eccf877e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGV2ZW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"/>
      <% end %>
    </div>
    <div class="form-wrapper event-details">
      <h1 class="form-title"><%= @event.name %></h1>
      <h4 class="form-title"><%= @event.location %></h4>
      <h4 class="form-title"><%= @event.event_date %></h4>
      <%= simple_form_for [@event, @participant] do |f| %>
        <%= f.submit 'Join this event', class: "btn btn-primary mt-3" %>
      <% end %>
    </div>
  </div>
</div>
