<div class="wrapper wrapper-edit">
  <div class="quote-wrapper">
    <blockquote>
      <p>
        "Paradise isn't a place. <br>
          It's a feeling"
      </p>
      <p class="author">- L. Boyer</p>
    </blockquote>
  </div>

  <div class="form-wrapper">
    <h1 class="form-title">Log in</h1>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.input :email, input_html: { class: 'w-100' }, wrapper_html: { class: 'd-flex flex-column align-items-center' }%>
        <span class="check-icon"></span>
      </div>

      <div class="form-group mb-1">
        <%= f.input :password, input_html: { class: 'w-100', title: 'Enter your password', type: 'password' }, wrapper_html: { class: 'd-flex flex-column align-items-center' } %>
        <span class="check-icon"></span>
      </div>

      <div class="form-group mb-0">
        <%= f.button :submit, 'Log in', class: 'w-100', id: 'submit' %>
      </div>
    <% end %>

    <small>Don't have an account? <%= link_to 'Sign up here', new_user_registration_path %></small>
  </div>
</div>
