<!DOCTYPE html>
<html>
  <head>
    <title>Friendzone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-ODyfuK0Y5wNKAmy9p5J7poyqPml5Iq8P1PrZ0Q2OU2HT9pZoEpe7D4TjAObYH3TtZEzgwFjB8ZCfr8tL32vqrFw==" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Ysabeau+SC:wght@300&display=swap" rel="stylesheet">    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.skypack.dev/@hotwired/turbo"></script>


  </head>

  <body data-controller="navbar"><%= render "shared/navbar" %>
  <%= render "shared/flashes" %>

    <%= yield %>
  </body>
  <%= render "shared/footer" %>
</html>
